.img {
  width: 100vw;
  height: 400px;

  object-fit: cover;
}

.container {
  max-width: 721px;

  margin: 8rem auto;
}

.title {
  font-size: 4.8rem;
  color: var(--heading);
}

.body {
  margin-top: 6.4rem;
}

.content {
  color: var(--body);

  font-size: 1.8rem;
  line-height: 25.2px;

  h2 {
    color: var(--heading);

    font-size: 2.6rem;

    margin: 5rem 0;
  }

  p {
    margin-top: 2rem;
  }
}
